.Color {
  height: 25%;
  flex-basis: 20%;
  height: 140px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Color__rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background: #ffffff4d;
  border-bottom-left-radius: 10px;
  color: #fff;
  font-size: 1rem;
}
.Color__copy {
  opacity: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  border: 2px solid #fff9;
  padding: 5px 20px;
  border-radius: 5px;
}
.Color__copy:hover {
  padding: 8px 25px;
}
.Color__copy:active {
  transform: scale(0.94);
}
.Color:hover .Color__copy {
  opacity: 1;
}

.Color__title {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #fff;
  font-weight: 200;
}

.Color__actions {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  display: flex;
}

@media screen and (max-width: 900px) {
  .Color {
    flex-basis: 25%;
    height: 150px;
  }
}

@media screen and (max-width: 700px) {
  .Color {
    flex-basis: calc(100% / 3);
  }
}

@media screen and (max-width: 500px) {
  .Color {
    flex-basis: calc(100% / 2);
  }
}
