.SuccessCopy {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  opacity: 0;
  pointer-events: none;
  transition: opacity;
  user-select: none;
}
.SuccessCopy_animate {
  animation: bg 1.5s ease !important;
  pointer-events: auto;
}

.SuccessCopy__wrap {
  width: 100%;
  text-align: center;
}
.SuccessCopy__wrap_animate {
  animation: text 1.5s ease !important;
}

.SuccessCopy__text {
  width: 100%;
  padding: 20px 0 30px 0;
  background: #ffffff25;
  font-size: 80px;
  margin-bottom: 20px;
}
.SuccessCopy__title {
  font-size: 30px;
}

@keyframes bg {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes text {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  40% {
    transform: scale(1.2);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
