.AddColor {
  height: 25%;
  flex-basis: 20%;
  height: 140px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.AddColor__icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.AddColor__text {
  display: flex;
  align-items: center;
}
